.wrapper {
    width: 320px;
    height: 420px;
    background: #fdfeff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.avatar {
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.profile {
    margin-top: 2.2em;
    position: relative;

    .name {
        color: #2d354a;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    p {
        color: #7c8097;
        font-size: 0.8em;
        font-weight: 300;
        text-align: center;
        padding-top: 0.5em;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    &:after {
        width: 100%;
        height: 1px;
        content: " ";
        display: block;
        margin-top: 1.3em;
        background: #e9eff6;
    }
}

.stats {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
    font-weight: 600;

    .stat {
        display: flex;
        align-items: center;
        flex-direction: column;

        h4 {
            color: #080911;
            font-size: 1.5em;
            margin-top: 0.5em;
        }

        p {
            color: #666b7d;
            font-size: 16px;
        }
    }
}